<div
  class="editor-box"
  cdkDragBoundary=".text-box-boundary"
  cdkDrag
  [cdkDragFreeDragPosition]="dragPosition"
>
  <div class="editor-container">
    <div class="editor-bar">
      <div class="editor-state" (click)="cycleModes()">
        {{ box.state }}
      </div>

      <div cdkDragHandle class="editor-handle">
        Move
      </div>
    </div>

    <div
      #markdown
      *ngIf="box.state === 'both' || box.state === 'markdown'"
      class="editor-markdown"
      contenteditable="true"
      (keyup)="onKeyUp($event)"
      appMarkdownBox
    >
      Hello world!
    </div>

    <div
      #wysiwyg
      *ngIf="box.state === 'both' || box.state === 'wysiwyg'"
      class="editor-wysiwyg"
      contenteditable="true"
    >
      WYSIWYG editor
    </div>
  </div>
</div>
