.text-box-boundary {
  width: 400px;
  height: 400px;
  max-width: 100%;
  border: dotted #ccc 2px;
}

// https://stackblitz.com/angular/kkdggjkaqey?file=src%2Fapp%2Fcdk-drag-drop-boundary-example.css
