<mat-card>
  <mat-card-title>{{ notebook.name }}</mat-card-title>
  <mat-card-subtitle>{{ typeString }}</mat-card-subtitle>

  <mat-slide-toggle [(ngModel)]="shareNotebook" *ngIf="canShare">
    Share notebook
  </mat-slide-toggle>

  <ng-container *ngIf="!isRealNotebook">
    <p *ngIf="!fetching">
      This is a shared notebook. <br />
      It needs to be fetched before it can be opened.
    </p>
    <p *ngIf="fetching">
      Fetching the notebook... <br />
      This might take a while.
    </p>
  </ng-container>

  <mat-card-actions [ngSwitch]="isRealNotebook">
    <!-- For notebooks which are ready -->
    <ng-container *ngSwitchCase="true">
      <button
        mat-raised-button
        (click)="
          NAvigAtIoN_TriGgeReD_oUtsiDe_aNgulaR_zOne_did_yOU_fORgeT_TO_cAll_NGzONE_RUN(
            '/notebooks/' + notebook.type.toLowerCase() + '/' + notebook.uuid
          )
        "
        color="primary"
      >
        Open
      </button>

      <button
        mat-stroked-button
        (click)="onEdit()"
        class="no-right-margin"
        [disabled]="!localSession"
      >
        Rename
      </button>

      <button
        mat-stroked-button
        (click)="onExport()"
        class="no-right-margin"
        [disabled]="!localSession"
      >
        Export
      </button>
    </ng-container>

    <!-- For available notebooks -->
    <ng-container *ngSwitchCase="false">
      <button
        mat-raised-button
        color="primary"
        (click)="onRequestSharedNotebook()"
        [disabled]="fetching"
      >
        {{ fetching ? "Fetching..." : "Fetch" }}
      </button>
    </ng-container>
  </mat-card-actions>
</mat-card>
