<h1>
  Welcome to DoubleNote!
</h1>

<p>
  To navigate around the application, use the SideNav (a drawer menu which
  slides in from the left side of the screen) and the CrumbTrail (an interactive
  indicator of the current location in the application located directly below
  the blue title bar).
</p>

<p>
  This project is still in its infancy, and not yet considered usable.
  <br />
  Any data stored may become inaccessible due to changes in the software at any
  point in time for any reason.
</p>

<h2>Notebook types</h2>
<p>
  This software is supposed to be used for taking notes. There are two different
  types of notebooks, one called "Box canvas page" and the other called
  "Sequential block page".
</p>

<p>
  The type of notebook is determined by the user when its created and cannot be
  changed afterwards.
</p>

<h3>Box canvas page</h3>

<p>
  The box canvas page (also referred to as BCP) model consists of pages which
  are not limitend in the way that they are layed out. Users may write down
  formatted text anywhere on the page by creating a box. The term "canvas"
  refers to the ability to create free-hand drawings on every such page.
</p>

<h3>Sequential block page</h3>

<p>
  The sequential block page (also referred to as SBP) model is based on the idea
  that every page is divided into a linear sequence of blocks, which can be of
  different types, such as headings, text, picture or other kinds of embeds.
</p>

<h2>Collaboration</h2>
