@use "pm-default";

.ProseMirror {
  width: 100%;
  height: 100%;
  // height: -webkit-fill-available;
  // padding: 2px;
}

.ProseMirror-menubar-wrapper {
  height: 100%;
}

.ProseMirror-menubar {
  min-height: unset;
  position: sticky;
}

// app-pm-box {
//   .editor-box {
//     .editor-container {
//       .editor-bar,
//       .box-bar {
//       }
//     }
//   }
// }

// {
//   opacity: 0.5;
//   transition: opacity 230ms;
//
//   &:hover,
//   &:focus-within {
//     opacity: 1;
//   }
// }
