<div class="bulk-text">
  <h1>Settings</h1>

  <form [formGroup]="formGroup">
    <mat-slide-toggle formControlName="enableOfflineMode">
      Disable p2p functionality (offline mode)
    </mat-slide-toggle>
    <br />
    <br />
    <mat-slide-toggle formControlName="displayFormatBars">
      Display format bars in text boxes
    </mat-slide-toggle>

    <br />
    <br />
    <p>
      The VCS component is used to show the current status of a notebook, create
      branches and tags, as well as to push and pull changes. To fit various
      screen sizes, it supports both a tabbed appearance and a card-grid layout.
      By default, it switches between them to best fit your screen (Responsive).
      If you have a preferred tab behavior, you can change the value below:
      <br />
      <br />

      <mat-form-field appearance="outline">
        <mat-label>Preferred tab behavior</mat-label>

        <mat-select formControlName="preferredTabBehavior">
          <mat-option [value]="TB.OnlyUseCards">Never use tabs</mat-option>
          <mat-option [value]="TB.Responsive">Responsive</mat-option>
          <mat-option [value]="TB.AlwaysUseTabs">Always use tabs</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </form>

  <br />

  <p>
    Reloading the application (F5 or swipe to reload) may be required to apply
    some changes.
  </p>

  <h1>Check for updates</h1>

  <p>
    This application is currently on the version {{ version }}. <br />
    Updates are automatically installed once they are available, which usually
    happens roughly ten seconds after the application has finished loading. The
    button below will check for updates and download them if they are available.
    <br />
    Once the text directly above the button changes to "Checked for updates."
    the check has completed. If updates were found (and their download has been
    completed) a snack bar will appear with a reload button. <br />
    The application will automatically check for updates (and download them if
    possible) every time it's opened. This is why you might see the "Updates
    available" snack bar roughly ten seconds after opening the application.
  </p>

  <p>
    {{ updateText }}
  </p>

  <button mat-raised-button color="accent" (click)="onCheckForUpdate()">
    Check for updates
  </button>

  <br />
  <br />

  <h1>Export everything</h1>

  <p>
    The button below will export all box canvas page notebooks and display the
    result below.
  </p>

  <button mat-raised-button color="accent" (click)="exportEverything()">
    Export all BCP notebooks
  </button>

  <br />
  <br />

  <h1>Delete everything</h1>

  <p>
    The button below will delete all data stored in this application. <br />
    Every notebook will be deleted.
  </p>

  <p>This operation cannot be undone.</p>

  <button mat-raised-button color="warn" (click)="deleteAll()">
    Delete all data
  </button>
</div>

<p>
  <code>{{ exportText }}</code>
</p>
