<h1>Settings</h1>

<form [formGroup]="formGroup">
  <mat-slide-toggle formControlName="enableOfflineMode">
    Enable offline mode
  </mat-slide-toggle>
</form>

<br />

<p>
  Reloading the application (F5) is required to apply any changes.
</p>

<h1>Delete everything</h1>

<p>
  The button below will delete all data stored in this application. <br />
  Every notebook will be deleted.
</p>

<p>
  This operation cannot be undone.
</p>

<button mat-raised-button color="warn" (click)="deleteAll()">
  Delete all data
</button>
