<div
  class="editor-box"
  cdkDragBoundary=".text-box-boundary"
  cdkDrag
  [cdkDragFreeDragPosition]="dragPosition"
  (cdkDragEnded)="onDragEnded($event)"
>
  <div class="editor-container">
    <div class="editor-bar">
      <div class="editor-state" (click)="onCycleModes()">
        {{ stateText }}
      </div>

      <div cdkDragHandle class="editor-handle">
        Move
      </div>

      <button *ngIf="isDevMode" (click)="onDebug()">
        Debug
      </button>

      <div class="editor-state" (click)="onDeleteBox()">
        Close
      </div>
    </div>

    <div class="editor-wrap">
      <code
        *ngIf="box.state === 'both' || box.state === 'markdown'"
        class="editor-markdown"
        contentEditable
      ></code>

      <!-- WYSIWYG start -->
      <div
        *ngIf="box.state === 'both' || box.state === 'wysiwyg'"
        class="editor-wysiwyg"
        #pmEditorRef
      ></div>
      <!-- WYSIWYG end -->
    </div>
  </div>
</div>
