<div
  class="editor-box"
  cdkDragBoundary=".text-box-boundary"
  cdkDrag
  [cdkDragFreeDragPosition]="dragPosition"
  (cdkDragEnded)="onDragEnded($event)"
>
  <div class="editor-container">
    <div class="box-bar">
      <div class="editor-state" (click)="onCycleModes()">
        {{ stateText }}
      </div>

      <div cdkDragHandle class="editor-handle">
        Move
      </div>

      <button *ngIf="isDevMode" (click)="onDebug()">
        Debug
      </button>

      <div class="editor-state" (click)="onDeleteBox()">
        Close
      </div>
    </div>

    <div
      *ngIf="
        (settings.formatBarsObservable | async) &&
        (box.state === 'both' || box.state === 'wysiwyg')
      "
      class="editor-bar"
    >
      <button mat-icon-button (click)="onBold()">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button mat-icon-button (click)="onItalic()">
        <mat-icon>format_italic</mat-icon>
      </button>
      <button mat-icon-button (click)="onCode()">
        <mat-icon>code</mat-icon>
      </button>
      <button mat-icon-button (click)="onLink()">
        <mat-icon>insert_link</mat-icon>
      </button>

      <mat-divider [vertical]="true"></mat-divider>

      <button mat-icon-button (click)="onPicture()">
        <mat-icon>insert_photo</mat-icon>
      </button>
      <button mat-icon-button (click)="onHr()">
        <mat-icon>horizontal_rule</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="selectType">
        <mat-icon>format_size</mat-icon>
      </button>

      <mat-divider [vertical]="true"></mat-divider>

      <button mat-icon-button (click)="onUndo()">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button (click)="onRedo()">
        <mat-icon>redo</mat-icon>
      </button>

      <mat-divider [vertical]="true"></mat-divider>

      <button mat-icon-button (click)="onBulletList()">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button mat-icon-button (click)="onNumberList()">
        <mat-icon>format_list_numbered</mat-icon>
      </button>
      <button mat-icon-button (click)="onQuote()">
        <mat-icon>format_quote</mat-icon>
      </button>
      <button mat-icon-button (click)="onSelectParentNode()">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
    </div>

    <div class="editor-wrap">
      <code
        *ngIf="box.state === 'both' || box.state === 'markdown'"
        class="editor-markdown"
        contentEditable
      ></code>

      <!-- WYSIWYG start -->

      <div
        *ngIf="box.state === 'both' || box.state === 'wysiwyg'"
        class="editor-wysiwyg"
        #pmEditorRef
        id="editor"
      ></div>

      <!-- WYSIWYG end -->
    </div>
  </div>
</div>

<mat-menu #selectType>
  <button mat-menu-item (click)="onType('plain')">
    Plain
  </button>
  <button mat-menu-item (click)="onType('code')">
    Code
  </button>
  <button mat-menu-item [matMenuTriggerFor]="selectHeading">
    Heading
  </button>
</mat-menu>

<mat-menu #selectHeading>
  <button mat-menu-item (click)="onType('h1')">
    Level 1
  </button>
  <button mat-menu-item (click)="onType('h2')">
    Level 2
  </button>
  <button mat-menu-item (click)="onType('h3')">
    Level 3
  </button>
  <button mat-menu-item (click)="onType('h4')">
    Level 4
  </button>
  <button mat-menu-item (click)="onType('h5')">
    Level 5
  </button>
  <button mat-menu-item (click)="onType('h6')">
    Level 6
  </button>
</mat-menu>

<div id="content" style="display: none;">
  <h2>
    Demo text
  </h2>
  <p>
    Saving doesn't really work yet. <br />
    But the editor should work.
  </p>
  <p>
    The editor should support both <b>bold</b> and <i>italic</i>, <br />
    as well as <b><i>bold and italic</i></b> text.
  </p>
  <p>
    This is powered by the <a href="https://prosemirror.net/">ProseMirror</a>.
  </p>
</div>
