.editor-box {
  width: 500px;
  height: 300px;

  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  border-radius: 4px;

  position: relative;
  // z-index: 1;

  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  pointer-events: initial;
}

.editor-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.editor-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.box-bar {
  display: flex;

  > * {
    padding: 2px;
  }
}

.editor-handle {
  text-align: center;

  justify-self: auto;
  flex-grow: 1;

  cursor: move;

  color: rgb(87, 87, 87);
  background-color: rgba(204, 204, 204, 0.308);
}

.editor-state {
  width: 85px;
  text-align: center;

  user-select: none;

  background-color: #e0e0e0;

  cursor: pointer;
}

.editor-wrap {
  width: 100%;
  height: 89.35%;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  > * {
    width: 100%;
    height: 100%;
    padding: 0px 4px;
  }
}

.editor-markdown {
  overflow: auto;
}

.editor-wysiwyg {
  overflow: auto;

  background-color: rgba(236, 236, 236, 0.308);
}

.editor-bar {
  display: flex;
  flex: max-content;
  justify-content: space-around;
  background-color: #f7f7f7;
  padding: 2.5px;
}

[mat-icon-button] {
  // background: red;

  $val: 25px;

  width: $val;
  height: $val;
  line-height: $val;
  min-height: $val;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

mat-divider {
  $the-perfect-amount: 2.57598px;
  margin: $the-perfect-amount 4px;
}
