<button mat-raised-button (click)="openDialog('BCP')" color="accent">
  Create notebook
</button>
&nbsp;
<button mat-stroked-button routerLink="import" color="accent">
  Import notebook
</button>
<br />
<br />
<div class="card-grid">
  <ng-container *ngFor="let notebook of notebooks">
    <app-notebook-card [notebook]="notebook"></app-notebook-card>
  </ng-container>
</div>
<div *ngIf="notebooks.length === 0" class="bulk-text">
  <p>
    No notebooks found.
  </p>
  <p>
    You can create a new notebook using the button above.
  </p>
  <p>
    To access your synchronized notebooks, head over to the
    <a routerLink="../servers">servers page</a>.<br />
    Alternatively, you can import your old notebooks manually using the import
    button.
  </p>
</div>
