<mat-tab-group dynamicHeight *ngIf="useTabbed$ | async">
  <mat-tab label="Branches & Tags">
    <div class="example-large-box mat-elevation-z4">
      <ng-container *ngTemplateOutlet="BranchesAndTags"> </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="VCS Status">
    <div class="example-small-box mat-elevation-z4">
      <ng-container *ngTemplateOutlet="VcsStatus"> </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="card-grid" *ngIf="!(useTabbed$ | async)">
  <ng-container *ngTemplateOutlet="BranchesAndTags"> </ng-container>
  <ng-container *ngTemplateOutlet="VcsStatus"> </ng-container>
</div>

<ng-template #VcsStatus>
  <mat-card>
    <mat-card-title>VCS Status</mat-card-title>
    <mat-card-content>
      Commit hash at head:
      <code>{{ resolveHead(notebook.strings.head) | slice: 0:7 }}</code>
      <br />
      Root tree at head commit:
      <code>{{
        notebook.objects?.head.commit.strings.rootCategory | slice: 0:7
      }}</code>
      <br />
      Working tree hash:
      <code>{{ notebook.strings.workingTree | slice: 0:7 }}</code>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onCommit()" [disabled]="disableCommit">
        {{ commitText }}
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #BranchesAndTags>
  <mat-card>
    <mat-card-title>Branches & Tags</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let branch of notebook.objects?.branches | keyvalue">
          {{ branch.key }}:
          <code>{{ branch.value | hash | slice: 0:7 }}</code>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button
        [matMenuTriggerFor]="selectBranchOrTag"
        [disabled]="disableCheckout"
      >
        {{ branchText }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #selectBranchOrTag>
        <button mat-menu-item [matMenuTriggerFor]="selectBranch">
          Branches
        </button>
        <button mat-menu-item [matMenuTriggerFor]="selectTag">Tags</button>
      </mat-menu>

      <!-- Branches -->
      <mat-menu #selectBranch>
        <ng-container
          *ngFor="let branch of notebook.strings.branches | keyvalue"
        >
          <button
            mat-menu-item
            (click)="onCheckoutBranch(branch.key)"
            *ngIf="calcDisableBranchButton(branch.key)"
          >
            {{ branch.key }}
          </button>
        </ng-container>
      </mat-menu>

      <!-- Tags -->
      <mat-menu #selectTag>
        <button mat-menu-item disabled>TODO 🤷</button>
        <button mat-menu-item disabled>
          You can't create them either 🤷🤷
        </button>
        <!-- <ng-container *ngFor="let tag of notebook.strings.tags | keyvalue">
          <button
            mat-menu-item
            (click)="onCheckoutBranch(tag.key)"
            *ngIf="notebook.strings.TODO !== tag.key"
          >
            {{ tag.key }}
          </button>
        </ng-container> -->
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="moreActions">
        Actions
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #moreActions>
        <button mat-menu-item (click)="onCommit()" [disabled]="disableCommit">
          {{ commitText }}
        </button>
        <button mat-menu-item [matMenuTriggerFor]="syncMenu">Sync</button>
        <button mat-menu-item [matMenuTriggerFor]="createMenu">Create</button>
      </mat-menu>

      <mat-menu #syncMenu>
        <button mat-menu-item (click)="(42)">Push</button>
        <button mat-menu-item (click)="(42)">Pull</button>
      </mat-menu>

      <mat-menu #createMenu>
        <button mat-menu-item (click)="onCreateBranch()">Branch</button>
        <button mat-menu-item (click)="onCreateBranch()">Tag</button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-container *ngIf="isDevMode">
  <br />
  <button mat-raised-button (click)="debug()" color="primary">Debug</button>
  <br />
</ng-container>
