<ng-container *ngIf="!settings.offlineMode">
  <p>
    My peerId is
    <code>
      {{ mbs.myUuid }}
    </code>
  </p>

  <p>
    The other ID is
    <input mat-input type="text" [(ngModel)]="peerId" />
    <button (click)="connectToPeer()">Connect</button>
  </p>

  <!-- <p>Connected to {{ connection?.peer }}</p> -->

  <input mat-input type="text" [(ngModel)]="peerMessage" />

  <p>
    {{ peerMessage }}
  </p>
</ng-container>

<ng-container *ngIf="settings.offlineMode">
  <p>Offline mode active; connecting unavailable</p>
</ng-container>

<br />
<p>demo works!</p>

<input mat-input type="range" [(ngModel)]="height" />
<input mat-input type="range" [(ngModel)]="width" />

<br />

<app-draw [width]="width" [height]="height"></app-draw>

<br />
<br />

<!-- <h1>
  ProseMirror text box
</h1>

<app-pm-box></app-pm-box> -->

<br />
<br />

<h1>Load external data from clipboard</h1>

<p>
  <button mat-stroked-button (click)="pasteJSON()" color="primary">
    Paste JSON
  </button>
  &nbsp;
  <button mat-stroked-button (click)="onLoadExternalData()" color="accent">
    Import data
  </button>
</p>

<code>
  <pre>{{ pastedJSON }}</pre>
</code>

<br />
<br />

<h1>Icons</h1>
<details>
  <summary>Toggle listing</summary>

  <div *ngFor="let icon of allIcons | keyvalue">
    <span>
      {{ icon.key }}
    </span>

    <mat-icon> {{ icon.value }}</mat-icon>
  </div>
</details>
