<mat-form-field class="example-full-width">
  <mat-label>Page title</mat-label>
  <input matInput placeholder="My page" [(ngModel)]="workingTitle" />
</mat-form-field>

&nbsp;
<button mat-stroked-button color="accent" (click)="onSaveChanges()">
  Save changes
</button>

&nbsp;
<button
  mat-stroked-button
  color="accent"
  [disabled]="disableCommit"
  (click)="onCommit()"
>
  {{ commitText }}
</button>

<ng-container *ngIf="isDevMode">
  &nbsp;
  <button mat-raised-button (click)="debug()" color="primary">Debug</button>
</ng-container>

<div class="text-box-boundary">
  <!--
  <app-text-box
    *ngFor="let box of page.objects.boxes; trackBy: trackByBox"
    [box]="box"
    [foreignBoxMove]="foreignBoxMove.asObservable()"
    (boxState)="onBoxStateChanged(box)"
    (boxDeleted)="onBoxDeleted(box)"
  >
  </app-text-box>
  -->

  <app-pm-box
    *ngFor="let box of page.objects.boxes; trackBy: trackByBox"
    [box]="box"
    [foreignBoxMove]="foreignBoxMove.asObservable()"
    (boxStateChanged)="onBoxStateChanged(box)"
    (boxDeleted)="onBoxDeleted(box)"
  >
  </app-pm-box>

  <div class="background" (click)="createNewBox($event)"></div>
</div>
