<mat-toolbar>
  DoubleNote
  <span class="version">{{ version }}</span>
</mat-toolbar>

<mat-nav-list>
  <a mat-list-item routerLink="welcome">
    <mat-icon> {{ icons.Welcome }} </mat-icon>
    &nbsp; Welcome
  </a>

  <a mat-list-item routerLink="notebooks">
    <mat-icon> {{ icons.Notebooks }} </mat-icon>
    &nbsp; Notebooks
  </a>

  <a mat-list-item routerLink="collaboration">
    <mat-icon> {{ icons.MultiUser6 }} </mat-icon>
    &nbsp; Collaboration
  </a>

  <a mat-list-item routerLink="servers">
    <mat-icon> {{ icons.Server }} </mat-icon>
    &nbsp; Servers
  </a>

  <a mat-list-item routerLink="settings">
    <mat-icon> {{ icons.Settings }} </mat-icon>
    &nbsp; Settings
  </a>

  <mat-divider></mat-divider>

  <a
    mat-list-item
    target="_blank"
    href="https://github.com/Bernd-L/DoubleNote#readme"
  >
    <mat-icon> {{ icons.SourceCode }} </mat-icon>
    &nbsp; Sources
    <mat-icon class="icon-right"> {{ icons.OpenInNewTab }} </mat-icon>
  </a>
  <a
    mat-list-item
    target="_blank"
    href="https://github.com/Bernd-L/DoubleNote/blob/master/LICENSE.md"
  >
    <mat-icon> {{ icons.License }} </mat-icon>
    &nbsp; License
    <mat-icon class="icon-right"> {{ icons.OpenInNewTab }} </mat-icon>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="demo">
    <mat-icon> {{ icons.Demo }} </mat-icon>
    &nbsp; Demo
  </a>
</mat-nav-list>
