@use "matcha";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: "system-ui" !important;
  // font-variant-ligatures: common-ligatures !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: matcha.$bg_color;
}

button {
  color: matcha.$text_color;
  background-color: matcha.$button_bg;
  border: matcha.$button_border;
}

.defaultMargin {
  margin: 8px;
}
