<div class="bulk-text">
  <ng-container [ngSwitch]="originServerStatus">
    <p *ngSwitchCase="'working'">
      Attempting to add the host of this application as a server...
    </p>

    <p *ngSwitchCase="'added'">
      The host of this application has now been added as a server.
    </p>

    <p *ngSwitchCase="'exists'">
      The host of this application has already been added added as a server.
    </p>

    <p *ngSwitchCase="'unavailable'">
      The host of this application does not provide an API.
    </p>
  </ng-container>
</div>

<p *ngIf="servers.length === 0">None so far.</p>

<br />
<h2>Servers</h2>

<p>
  This feature is currently under development, and will eventually be ready for
  production. Some of the things might not work as expected, and the UI is
  subject to change.
</p>

<mat-accordion>
  <ng-container *ngFor="let server of servers">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ server.name }}
        </mat-panel-title>
        <!-- <mat-panel-description>
          <code> {{ server.uuid }} </code>
        </mat-panel-description> -->
      </mat-expansion-panel-header>

      <!-- <p>
        Status:
        {{ getConnectionStatus(server) }}
      </p> -->

      <p>
        <code> {{ server.apiUrl }} </code>
      </p>

      <mat-action-row>
        <button mat-button (click)="deleteServer(server)" color="warn">
          Remove
        </button>

        <button mat-button (click)="openEditServerDialog(server)">Edit</button>

        <button mat-button (click)="openPushDialog(server)" color="accent">
          Push
        </button>

        <button mat-button (click)="openPullDialog(server)" color="primary">
          Pull
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </ng-container>

  <!-- Tutorial -->

  <!-- <ng-container *ngIf="servers.length === 0"> -->
  <mat-expansion-panel [expanded]="servers.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title> Server guide </mat-panel-title>
      <mat-panel-description> (Tutorial) </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Per default, all data is stored in the browser storage. This means that
      your data will not sync across your devices and may be lost when you
      re-install your browser. <br />
      To prevent this from happening, you can synchronize your data with a
      server.
    </p>

    <!-- <mat-action-row>
        <button mat-button color="primary">Learn more</button>
      </mat-action-row> -->
  </mat-expansion-panel>
  <!-- </ng-container> -->
</mat-accordion>
