<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [(opened)]="sideNavOpened"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="welcome">
        <mat-icon>account_circle</mat-icon>
        &nbsp; Welcome
      </a>

      <a mat-list-item routerLink="notebooks">
        <mat-icon>account_circle</mat-icon>
        &nbsp; Notebooks
      </a>

      <a mat-list-item routerLink="settings">
        <mat-icon>account_circle</mat-icon>
        &nbsp; Settings
      </a>

      <a mat-list-item routerLink="demo">
        <mat-icon>account_circle</mat-icon>
        &nbsp; Demo
      </a>

      <mat-divider></mat-divider>

      <a
        mat-list-item
        target="_blank"
        href="https://github.com/Bernd-L/DoubleNote#readme"
      >
        <mat-icon>open_in_new</mat-icon>
        &nbsp; Sources
        <mat-icon class="icon-right">open_in_new</mat-icon>
      </a>
      <a
        mat-list-item
        target="_blank"
        href="https://github.com/Bernd-L/DoubleNote/blob/master/LICENSE.md"
      >
        <mat-icon>open_in_new</mat-icon>
        &nbsp; Licence
        <mat-icon class="icon-right">open_in_new</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>DoubleNote</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
