<div class="editor-box" cdkDragBoundary=".text-box-boundary" cdkDrag>
  <div class="editor-container">
    <div class="editor-bar">
      <div class="editor-state" (click)="cycleModes()">
        {{ state }}
      </div>

      <div cdkDragHandle class="editor-handle">
        Move
      </div>
    </div>

    <div
      #markdown
      *ngIf="state === 'both' || state === 'markdown'"
      class="editor-markdown"
      contenteditable="true"
      (keyup)="onKeyUp($event)"
      appMarkdownBox
    >
      {{ markdownText }}
    </div>

    <div
      #wysiwyg
      *ngIf="state === 'both' || state === 'wysiwyg'"
      class="editor-wysiwyg"
      contenteditable="true"
    >
      WYSIWYG editor
    </div>
  </div>
</div>
