<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [(opened)]="settings.sideNavOpened"
  >
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <!-- The main content (not the sidenav) -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>DoubleNote</span>
      <ng-container *ngIf="isDevMode">
        &nbsp; &nbsp;
        <button mat-raised-button color="warn" (click)="deleteAll()">
          Delete all data
        </button>
      </ng-container>
    </mat-toolbar>

    <!-- The CrumbTrail -->
    <div class="sticky">
      <app-crumb-trail></app-crumb-trail>
      <mat-divider></mat-divider>
    </div>

    <br />
    <div class="defaultMargin">
      <!-- Main app content -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
