.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  left: 0;
}

.sticky {
  position: sticky;
  left: 0;
  padding: 8px;
}
