<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [(opened)]="settings.sideNavOpened"
  >
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <!-- The main content (not the sidenav) -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>DoubleNote</span>
    </mat-toolbar>

    <div class="defaultMargin">
      <!-- The CrumbTrail -->
      <app-crumb-trail></app-crumb-trail>
      <mat-divider></mat-divider>
      <br />

      <!-- Main app content -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
